.card {
  background-color: var(--secondary-color);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
}

.btn-sub {
  height: 58px;
  border: none;
  font-size: 13px;
  background-color: var(--primary-color);
}

.subs-text {
  width: 500px;
}
