<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/2220279/pexels-photo-2220279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
      reprehenderit natus libero nulla quibusdam illum. Quos ut debitis fuga
      nobis odio quisquam ad temporibus delectus, dignissimos voluptates aliquam
      laborum sint!
    </p>

    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED - SET 20, 2023
    </small>
  </div>
</div>
